
  
  .templates-list {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center template items */
  }
  
  .template-item {
    background-color: #fff;
    color: #000;
    margin-bottom: 10px; /* Space between template items */
    padding: 15px;
    border-radius: 5px;
    width: 80%; /* Width of template items */
    cursor: pointer; /* Change cursor to pointer to indicate clickability */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
  }
  
  .template-item:hover {
    background-color: #e8e8e8; /* Light grey background on hover */
  }
  
  .template-detail {
    margin: 0.5rem 0;
  }
  
  .template-detail strong {
    margin-right: 0.5rem;
  }
  
  /* ... (rest of your styles) */
  
  .back-button-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem; /* Adjust padding as necessary */
    z-index: 10; /* Ensure it's above other content */
  }
  
  .back-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(0, 0, 0); /* or any color you want for the text */
    font-size: 1.2rem;
  }
  
  /*
  */
  /* Styles for the main container */
  .templates-container {
    position: relative; /* Needed for absolute positioning of children */
    /* ... other styles ... */
  }
  
  /* Styles for the search container */
  .search-container {
    /* ... existing styles ... */
  }
  
  /* Styles for the button */
  .create-new-templates-btn {
    padding: 10px 20px;
    background-color: #007bff; /* or any other color that matches your design */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute; /* Position the button absolutely within .templates-container */
    right: 20px; /* Adjust as per your layout */
    top: 225px; /* Adjust this to align with the search bar */
  }
  
  /* 

  /* ConductInterview.css */

  .candidate-name-input {
    width : 15%;
    margin-left: 2px;
    font-size: medium;
    height: 40px;
    position: relative;
    top: -70px; /* Adjust this value to move the element up */
    margin-bottom: -100px; /* Optional: to remove the space that the element would have occupied */
  }