.interviews-container {
  font-family: 'Roboto', sans-serif;
  background-color: #002244;
  color: white;
  min-height: 100vh;
  padding: 20px;
}

.portal-header-container {
  text-align: center;
  margin-bottom: 20px;
}

.recruiting-portal-header {
  font-size: 24px;
  color: white;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar {
  width: 50%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.interviews-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interview-item {
  background-color: #fff;
  color: #000;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  width: 80%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: relative;
}

.jobinterview-delete {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px;
  border: none;
  background: url('./trash_can.svg') no-repeat center; 
  background-size: contain; 
  color: transparent; 
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
  width: 24px; 
  height: 24px; 
  outline: none; 
  border-radius: 4px; 
}

.jobinterview-delete:hover {
  opacity: 0.8;
}
