/* templates.css */

.templates-container {
  font-family: 'Arial', sans-serif;
  background-color: #002244;
  color: white;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

.portal-header-container {
  text-align: center;
  margin: 20px 0;
}

.recruiting-portal-header {
  font-size: 24px;
  color: white;
}

.templates-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.template-item {
  background-color: #fff;
  color: #000;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  width: 80%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.template-item:hover {
  background-color: #e8e8e8;
}

.template-detail {
  margin: 0.5rem 0;
}

.template-detail strong {
  margin-right: 0.5rem;
}

.create-new-templates-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 225px;
}

.toggle-default {
  padding: 5px 15px;
  border: none;
  background-color: rgb(3, 3, 3);
  color: white;
  cursor: pointer
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.create-new-templates-container {
  position: relative;
  bottom: 300px;
}
