.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e6e7e8;
  font-family: Arial, sans-serif;
}

.logo-container {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.logo {
  width: 100%;
  height: auto;
}

.form-container {
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

.form-input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.form-button {
  background-color: #0071e3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

.form-button:hover {
  background-color: #0056b3;
}

.add-btn,
.remove-btn {
padding: 8px 16px;
font-size: 14px;
border: none;
border-radius: 3px;
cursor: pointer;
margin-left: 5px;
background-color: #007bff;
color: #fff;
}

.add-btn:hover,
.remove-btn:hover {
background-color: #0056b3;
}

.add-department-container {
display: flex;
align-items: center;
margin-top: 10px;
}

.add-department-container .form-input {
margin-right: 10px;
width: auto;
flex-grow: 1;
}

.add-department-container .add-btn {
flex-shrink: 0;
}
