
.homepage-container {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.logo-image {
    width: 150px;
    height: auto;
}

.homepage-heading {
    text-align: center;
    color: #005AA7; 
    margin-top: 40px;
}

/* Added styles for the departments list */
ul.departments-list {
    list-style-type: none; 
    padding: 0;
    text-align: center;
}

ul.departments-list li {
    display: inline-block;
    margin: 5px 10px;
    background-color: #EEE;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: 1px solid #DDD;
}

ul.departments-list li:hover {
    background-color: #DDD;
    cursor: pointer;
}

.footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-section {
    margin: 10px;
}

.footer-heading {
    color: #005AA7; 
    font-size: 18px;
}

.footer-contact-item {
    color: #333;
    margin: 5px 0;
}

.footer-bottom-text {
    color: #666;
    font-size: 14px;
    margin-top: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

