.coverScreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 1s ease;
  }
  
  .hideAnimation {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease, visibility 0s 1s;
  }
  
  .loaderWrapper {
    display: flex;
    align-items: center;
  }
  
  .loader {
    display: flex;
    align-items: flex-end;
    height: 100px;
  }
  
  .loader div {
    background-color: #FBC500;
    width: 20px;
    height: 50%;
    margin: 0 2px;
    animation: grow 1s ease-in-out infinite alternate;
  }
  
  .loader div:nth-child(2) {
    height: 100%;
  }
  
  .loader div:nth-child(3) {
    height: 50%;
    align-self: flex-start;
  }
  
  @keyframes grow {
    0%, 100% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(2);
    }
  }
  
  .companyName {
    margin-left: 20px;
    color: #ffffff; 
    font-size: 5em; 
    user-select: none; 
    font-family: 'Verdana', sans-serif;

  }
  