
.navbar {
  background-color: #ffffff;
  height:70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.navbar-nav {
  list-style: none;
  display: flex;
}

.navbar-nav li {
  margin-right: 10px;
}

.navbar-nav li a {
  text-decoration: none;
  color: #333;
  padding: 10px;
}

.navbar-nav li a:hover {
  color: #666;
  text-decoration: underline;
}
