.position-template-container {
  background: #ffffff;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.position-template-container h2 {
  color: #333333;
  text-align: center;
}


.position-detail strong {
  margin-right: 10px;
}
