/* DataAnalysis.css */

.data-analysis-container {
  font-family: 'Arial', sans-serif;
  background-color: #002244; /* Very dark blue background for the rest of the page */
  color: white;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align logo to the left and other items to the right */
  background-color: #FFF;
  padding: 0.5rem 1rem;
}

.logo {
  height: 120px; /* Bigger logo as requested */
  margin-left: left; /* Push the logo to the left */
}

/* Styles for the navbar links */
.navbar {
  margin-left: auto;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.navbar ul li {
  margin-left: 20px; /* Spacing between nav items */
}

.navbar ul li:last-child {
  margin-right: 0; /* No margin for the last item */
}

.navbar ul li a {
  text-decoration: none;
  color: black; /* Black font color for nav links */
  font-size: 16px;
  padding: 0.5rem 1rem; /* Padding for nav links */
}


.data-analysis-header-container {
  text-align: center; /* Center the portal header text */
  margin: 20px 0;
}

.data-analysis-header {
  font-size: 24px;
  color: white; /* White text for the header */
}

.search-container {
  display: flex;
  justify-content: center; /* Center search bar container */
  padding: 20px;
}

.search-bar {
  width: 50%; /* Or any other width as per design */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 2rem; /* Space after search bar */
}

/* Additional styles for two-column layout */

.content-container {
  display: flex;
  margin: 1rem;
}

.left-column {
  flex: 1; /* 1/4 of the space */
  padding: 1rem;
  background: white;
  border-radius: 15px;
  color:black;
}

.right-column {
  flex: 2; /* 3/4 of the space */
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  flex-grow: 1;

  /* You can set a specific height or leave it to grow as per content */
}

.graph-container {
  flex-grow: 2;
  /* Set a background color or border for visual separation if desired */
  border: 1px solid #ffffff;
  padding: 1rem;
  /* You can set a specific height or leave it to grow as per content */
  border-radius: 15px;
  margin-top: 1rem;
}

/* Adjust the search bar width in the left column */
.search-bar {
  width: 100%; /* Adjust this as needed */
  /* Other styles remain the same */
}



/* Styles for prettying filters and statistics boxes */


.filter-section {
  margin-top: 1rem;
}

.filter-option {
  margin-bottom: 1rem;
}

.slider {
  width: 100%;
}

.selection-box {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
}

.stat-box {
  padding: 1rem;
  border: 2px solid #ffffff;
  border-radius: 15px;
  margin: 0.5rem;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.5); /* Translucent white background */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}


/* Apply Button */

.apply-button {
  padding: 10px 20px;
  background-color: #0066ff; 
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem; /* Space above button */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.apply-button:hover {
  background-color: #0051cc; /* Darker shade for hover effect */
}

