/* EditTemplates.css */

.edit-templates-container {
  font-family: 'Arial', sans-serif;
  background-color: #002244;
  /* Consistent with other pages */
  color: white;
  min-height: 100vh;
}

/* Reuse header and logo styles */
.header {
  /* ... */
}

.logo {
  /* ... */
}

/* Reuse navbar styles */
.navbar {
  /* ... */
}

/* Reuse portal header styles */
.portal-header-container {
  /* ... */
}

.recruiting-portal-header {
  /* ... */
}

/* Reuse search bar styles */
.search-container {
  /* ... */
}

.search-bar {
  /* ... */
}

#create-new-templates-btn {
  position: absolute;
  right: 10px;
}

/* Styles for the positions and templates lists */
.positions-container {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: auto;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.position-item {
  position: relative;
}

.position-item:hover {
  background-color: #f2f2f2;
  color: black;
}

.templates-container {
  margin: 1rem;
  padding: 0.5rem;
}

/* New styles for modal */
.modal {
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  min-width: 300px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.modal h1 {
  color: black; 
}
.modal h2 {
  color: black; 
}

.modal-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Close button inside the modal */
.modal .close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Text inputs inside the modal */
.modal input[type="text"] {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button inside the modal */
.modal #modal_button {
  padding: 10px 20px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  margin: 20px auto;
  width: 50%;
}

.modal #modal_button:hover {
  background-color: #004494;
}

#edittemplate_delete {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px;
  border: none;
  background: url('../trash_can.svg') no-repeat center; 
  background-size: contain; 
  color: transparent; 
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
  width: 24px; 
  height: 24px; 
  outline: none; 
  border-radius: 4px; 
}

#edittemplate_delete:hover {
  opacity: 0.8;
}

#edittemplate_delete::before {
  content: ''; 
}