.interviews-container {
  font-family: 'Roboto', sans-serif;
  background-color: #002244;
  color: white;
  min-height: 100vh;
  padding-top: 10px;
}

.portal-header-container {
  text-align: center;
  margin: 0;
}

.recruiting-portal-header {
  font-size: 24px;
  color: white;
}

.search-and-navigation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-container {
  flex: 1;
}

.search-bar {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.page-navigation {
  position: absolute;
  right: 0%;
  display: flex;
  align-items: center;
}

.page-navigation button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.page-navigation button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.page-navigation button:not(:disabled):hover {
  background-color: #0056b3;
}

.position-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.position-item {
  background-color: #fff;
  color: #000;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 10px;
  width: 80%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.position-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.position-item:active {
  transform: translateY(1px);
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
