/* NewTemplates.css */

.new-templates-container {
  font-family: 'Arial', sans-serif;
  background-color: #002244; /* Consistent with other pages */
  color: white;
  min-height: 100vh;
  width: 100%; /* Ensure container takes full width */
  margin: 0; /* Reset any default margin */
  padding: 0; /* Reset any default padding */
  padding-top: 0px;
}
.template-name-input
{
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 1000000px; 
  margin-left: 0px;
}

#new-template-add-question-answer-btn {
  display: inline-block; 
  margin-right: 8px; 
  padding: 8px 16px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  vertical-align: middle; 
}

#new-template-save-new-templates-btn {
  display: inline-block; 
  float: right; 
  padding: 8px 16px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  vertical-align: middle; 
}

/* Question & Answer's container */
.new-template-inputs-container {
  display: flex;
  justify-content: space-between; 
  margin: 1rem 2rem; 
  padding: 0; 
}

/* Question styles */
.new-template-question-input {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  flex-grow: 6.6;
  flex-basis: 0;
  resize: none;
  margin-right: 10px; 
  height: auto;
}

/* Answer's style */
.new-template-answer-input {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  flex-grow: 3.4;
  flex-basis: 0;
  resize: none;
  height: auto;
}

.new-template-score-input {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px; 
  margin-left: 10px;
  width: 75px;
}

#new-template-delete-btn {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: red;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 12px;
}

/* Styles for the positions and templates lists */
.positions-container {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: auto;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.position-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.position-item:hover {
  background-color: #f2f2f2;
  color: black;
}

.templates-container {
  margin: 1rem;
  padding: 0.5rem;
  
}

